Django==5.0.8
Pillow==10.3.0
django-widget-tweaks==1.5.0
python-slugify==8.0.4
django-compressor==4.5.1
django-livereload-server==0.5.1
django-allauth[socialaccount]==64.0.0
django-allauth-ui==1.4.0
pymesomb==1.1.0
