{% load static %}

<div class=" bg-white p-5 rounded-md relative hover:shadow-md hover:shadow-primary-700 transition-shadow ease-linear">
    <a href="" class="absolute bg-primary-800 p-2 text-sm font-semibold capitalize text-center rounded-sm text-white min-w-20 right-10 top-10 hover:bg-primary-700 transition-colors ease-linear ">
        {{ product.sub_category }}
    </a>
    <a href="{% url 'detail_product' product.slug %}">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt="{{ product.name }}" class="w-full h-60 object-cover rounded-lg">
    </a>
    <div>
        <h3 class="text-lg font-semibold mt-4 capitalize"><a href="#">{{ product.name }}</a></h3>
        <div>
            <a href="{% url 'detail_product' product.slug %}" class="flex items-center text-primary-800">
                <span class="material-symbols-outlined">
                    grade
                </span>
                <span class="font-semibold">5.0</span>
                <span class="font-semibold ml-1 text-gray-500">(31)</span>
            </a>
        </div>
    </div>
    <p class="text-gray-500 mt-5 text-justify">{{ product.description|truncatechars:70 }}</p>
    <div class="flex items-center justify-between mt-5">
        <a href="{% url 'farmer_detail' product.farmer.slug %}" class="flex items-center gap-2">
            <div>
                {% if product.farmer.avatar %}
                <img src="{{ product.farmer.avatar.url }}" alt="{{ product.farmer.email }}" class="w-12 h-12 bg-primary-700 rounded-full object-cover">
                {% else %}
                <div class=" hover:cursor-pointer uppercase bg-primary-500 hover:bg-primary-400 w-12 h-12 flex items-center justify-center text-3xl rounded-full font-bold">
                    {{ product.farmer.email|slice:"1" }}
                </div>
                {% endif %}
            </div>
            <p class="text-sm font-bold italic capitalize">
                {{ product.farmer.first_name }}
            </p>
        </a>
        <p class="font-bold text-lg md:text-base text-primary-900">XAF/KG {{ product.price }}</p>
    </div>
</div>