
@tailwind base;
@tailwind components;
@tailwind utilities;


.link {
    color: #038C57;
    font-weight: bold;
}

.link:hover {
    color: #9AC9AD;
    transition: all ease-in-out 200ms;
}

.btn {
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    text-align: center;
}

.btn-small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.btn:hover {
    transition: all ease-in-out 100ms; 
}

.btn-primary {
    background-color: #038C57;
    color: white;
}

.btn-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    color: white;
}

.active{
    background-color: #038c57;
    color: white;
}