{% extends 'users/farmers/farmer_pannel_base.html' %}
{% load static %}
{% load products %}
{% block pannel_section %}
  <div class="">
    <div class="">
      {% comment %}heading{% endcomment %}
      <div class="flex items-center justify-between">
        <h1 class="font-medium text-xl text-gray-800">Overview</h1>
        <p class="text-sm">Accessibility</p>
      </div>
      {% comment %}Overview{% endcomment %}
      <div class="pt-5 grid gap-5 grid-cols-2 lg:grid-cols-4">
        <div class="bg-white p-5 flex justify-between w-full rounded-lg shadow-lg">
          <div class="">
            <h3 class="text-sm mb-5">Revenue</h3>
            <p class="font-semibold text-2xl">XAF 350K</p>
          </div>
          <div>
            <span class="material-symbols-outlined bg-gray-300 p-2 rounded-lg">payments</span>
          </div>
        </div>
        <div class="bg-white p-5 flex justify-between w-full rounded-lg shadow-lg">
          <div class="">
            <h3 class="text-sm mb-5">Orders</h3>
            <p class="font-semibold text-2xl">300</p>
          </div>
          <div>
            <span class="material-symbols-outlined bg-gray-300 p-2 rounded-lg">storefront</span>
          </div>
        </div>
        <div class="bg-white p-5 flex justify-between w-full rounded-lg shadow-lg">
          <div class="">
            <h3 class="text-sm mb-5">Customers</h3>
            <p class="font-semibold text-2xl">10</p>
          </div>
          <div class="">
            <span class="material-symbols-outlined bg-gray-300 p-2 rounded-lg">group_add</span>
          </div>
        </div>
        <div class="bg-white p-5 flex justify-between w-full rounded-lg shadow-lg">
          <div class="">
            <h3 class="text-sm mb-5">Products</h3>
            <p class="font-semibold text-2xl">100</p>
          </div>
          <div>
            <span class="material-symbols-outlined bg-gray-300 p-2 rounded-lg">inventory</span>
          </div>
        </div>
      </div>

      {% comment %}Lastest products{% endcomment %}
      <div class="mt-8 bg-white shadow-lg p-5 h-96 rounded-lg">
        <div class="flex items-center justify-between pb-4">
          <h3>Recent Products</h3>
          <a href="{% url 'add_product' %}" class="flex items-center gap-x-1 hover:text-primary-800 transition-colors ease-linear">
            <p>Add Products</p>
            <span class="material-symbols-outlined bg-gray-300 p-2 rounded-lg">add_box</span>
          </a>
        </div>
        {% if last_products %}
        <div class="pt-1 overflow-x-auto max-h-[19rem] ">
            <div class="inline-block min-w-full pr-5">
              <div class="border-b-2 py-5 flex justify-between">
                <p class="w-72">Product</p>
                <p class="w-24">Quantity</p>
                <p class="w-40">Price</p>
                <p class="w-44">Last Update</p>
                <ul class="flex gap-x-3">
                  Actions
                </ul>
              </div>
            </div>
            <div class="">
              {% for product in last_products %}
              {% comment %} Delete form {% endcomment %}
              <div id="deleteModal" class="hidden">
                {% comment %} {% url 'delete_product' product.slug as delete_product_url %} {% endcomment %}
                {% #delete_confirmation name=product.name delete_url=delete_product_url %}
                {% /delete_confirmation %}
              </div>
              <div class="inline-block min-w-full pr-5 ">
                <div class="border-b-2 py-5 flex justify-between">
                  <p class="w-72 flex items-center gap-x-4">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'src/images/products/product_icon.svg' %}{% endif %}" alt="{{ product.name }}" class="w-12 h-12 bg-primary-700 object-cover rounded-full">
                    <span class="capitalize">{{ product.name }}</span>
                  </p>
                  <p class="w-24"> {{ product.quantity }} </p>
                  <p class="w-40">XAF {{ product.price }} </p>
                  <p class="w-44"> {{ product.update_at.date }} </p>
                  <ul class="flex gap-x-3">
                    <li>
                      <a href="{% url 'update_product' product.slug %}"><span class="material-symbols-outlined text-blue-500 font-light">update</span></a>
                    </li>
                    <li>
                      <a href="#" onclick="openPopup('{{ product.name }}', '{% url 'delete_product' product.slug %}')"><span class="material-symbols-outlined text-red-500 font-light">delete</span></a>
                    </li>
                  </ul>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
        <div class="flex flex-col items-center justify-center h-72">
          <div class="text-center">
            <h4>You haven't added any products yet.</h4>
            <div class="mt-4">
              <a href="{% url 'add_product' %}" class="btn btn-primary">Add products</a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


  <script>
    function openPopup(productName, deleteUrl) {
      // Met à jour les paramètres du composant delete_confirmation
      //document.querySelector('[component="delete_confirmation"]').querySelector('a[href^="/"]').href = deleteUrl;
    
      // Affiche le pop-up
      document.getElementById('product_name').textContent = productName;
      document.getElementById('product_delete_url').href = deleteUrl;
      document.getElementById('deleteModal').classList.remove('hidden');
    }
    
    function closePopup() {
      // Cache le pop-up
      document.getElementById('deleteModal').classList.add('hidden');
    }
  </script>
{% endblock %}
