{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="h-screen w-screen" style="background: rgb(3,140,87); background: linear-gradient(15deg, rgba(3,140,87,0.3) 0%, rgba(241,241,241,1) 60%);">
    <header class="flex items-center justify-start py-3 font-bold border-b-2 border-solid px-10 md:px-32">
        <div>
            <a href="{% url 'index' %}" class="flex items-center text-2xl font-bold ">
                <img src="{% static 'src/images/logo.png' %}" alt="greendigit" class="w-12 h-12">
                Green<span class="text-primary-900">Digit</span>
            </a>
        </div>
    </header>
    <div class="flex flex-col justify-center items-center absolute px-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen">
        <div class="relative rounded-full mb-10 px-3 py-1 text-center text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20 max-w-xs">
            Show all products here. <a href="{% url 'store' %}" class="font-semibold text-primary-800"><span class="absolute inset-0" aria-hidden="true"></span>GreenStore <span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Who are you ?</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Select the account type that corresponds to your activities.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <form action="{% url 'set_user_type' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="user_type" value="farmer" class="btn btn-primary">I am Farmer</button>
                    <button type="submit" name="user_type" value="consumer" class="btn btn-primary">I am Consumer</button>
                </form>
            </div>
          </div>
    </div>
</div>
{% endblock content %}
