{% extends 'users/farmers/farmer_pannel_base.html' %}
{% load static %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}

{% block pannel_section %}
<div class="">
    {% if messages %}
      {% for message in messages %}
      <div id="message" class="bg-primary-600 py-3 px-5 mb-4 text-gray-800 font-medium rounded-md flex items-center justify-between">
        <p class="text-white">{{ message }}</p>
        <a href="" onclick="closeMessagePopUp()">
          <span class="material-symbols-outlined text-red-700 text-3xl font-bold">
            cancel
          </span>
        </a>
      </div>
      {% endfor %}
    {% endif %}
    <div>
        <div class="w-full h-40 md:h-56 lg:h-64 rounded-lg">
            <img src="{% static 'src/images/users/cover.jpg' %}" alt="" class="w-full h-full object-cover rounded-lg">
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div class="">
        {% trans "Edit Profile" as heading %}
        {% #container heading=heading  %}
            {% #form form=form url="" button_text=heading %}
            {{ redirect_field }}
            {% csrf_token %}
            {% /form %}
        {% /container %}
    </div>
</div>
{% endblock pannel_section %}