{% extends 'green_section.html' %}
{% load static %}
{% load products %}

{% block green_section %}
  <div class="">
    <div>
      {% if messages %}
        {% for message in messages %}
          <div id="message" class="bg-primary-600 py-3 px-5 mb-4 text-gray-800 font-medium rounded-md flex items-center justify-between">
            <p class="text-white">{{ message }}</p>
            <a href="" onclick="closeMessagePopUp()"><span class="material-symbols-outlined text-red-700 text-3xl font-bold">cancel</span></a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="flex justify-center items-center gap-4">
      <div class="flex flex-1 items-center justify-center gap-2 bg-white rounded-md py-1 px-2 max-w-md">
        <div class="w-full">
          <input type="search" name="search" id="search" placeholder="search" class="bg-white max-w-72 input input-bordered min-w-full" />
        </div>
        <button type="submit"><span class="material-symbols-outlined text-white bg-primary-700 font-bold p-2 rounded-md hover:bg-primary-990 transition-colors ease-linear">search</span></button>
      </div>
      <a href="#" class=""><span class="material-symbols-outlined font-bold text-3xl bg-primary-500 rounded-md p-2 hover:bg-primary-700 hover:text-white transition-all ease-linear">Tune</span></a>
    </div>
    <div class="mt-5">
      <div class="gap-5 grid md:grid-cols-2 lg:grid-cols-4 h-full">
        {% for product in page_obj %}
          <div class="">
            {% #product_card product=product%}
            {% /product_card %}
          </div>
        {% endfor %}
      </div>
      {% if page_obj.has_previous or page_obj.has_next %}
      <div class="flex bg-white mt-3 p-3 items-center justify-center rounded-lg shadow-lg">
        <div class="">
            {% if page_obj.has_previous %}
            <div class="flex items-center justify-center gap-10">
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">
                <span class="material-symbols-outlined">
                  arrow_back_ios_new
                </span>
              </a>
              <p class="btn btn-disabled">
                {{ page_obj.number }}
              </p>
              <a href="?page={{ page_obj.paginator.num_pages }}" class="btn">{{ page_obj.paginator.num_pages }}</a>
              <a href="" class="btn btn-primary">
                  <span class="material-symbols-outlined">
                    arrow_forward_ios
                    </span>
              </a>
            </div>
            {% endif %}
            {% if page_obj.has_next %}
            <div class="flex items-center justify-center gap-10">
              <a class="btn btn-primary">
                <span class="material-symbols-outlined">
                  arrow_back_ios_new
                </span>
              </a>
              <p class="btn btn-disabled">
                {{ page_obj.number }}
              </p>
              <a href="?page={{ page_obj.paginator.num_pages }}" class="btn">{{ page_obj.paginator.num_pages }}</a>
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">
                  <span class="material-symbols-outlined">
                    arrow_forward_ios
                    </span>
              </a>
            </div>
            {% endif %}
          </span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
