{% extends "_base.html" %}

{% load static %}

{% block content %}
<header class="flex bg-white items-center justify-between py-3 font-bold border-b-2 border-solid px-4 fixed z-10 w-full">
    <div class="flex items-center gap-x-4">
        <div onclick="menuToggle()" class="relative top-1 cursor-pointer md:hidden">
            <span class="material-symbols-outlined text-4xl">
                menu
            </span>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.is_farmer %}
            {% url 'farmer_dashboard' as home %}
            {% elif request.user.is_consumer %}
            {% url 'store' as home %}
            {% endif %}
        {% else %}
            {% url 'index' as home %}
        {% endif %}
        <a href="{{ home }}" class="flex items-center text-2xl font-bold ">
            <img src="{% static 'src/images/logo.png' %}" alt="greendigit" class="w-12 h-12">
            Green<span class="text-primary-900">Digit</span>
        </a>
    </div>
    {% block navbar %}{% endblock navbar %}
    {% if request.user.is_authenticated %}
    <div class="flex items-center gap-x-3">
        <div>
            <span class="material-symbols-outlined text-2xl hover:cursor-pointer hover:bg-gray-300 p-2 rounded-md">
                notifications
                </span>
        </div>
        <div class="relative text-center">
            <nav id="profile" class="hidden absolute bg-white right-1 top-14 text-sm p-3 rounded-md shadow-2xl w-36">
                <div class="border-b-2 pb-3 mb-3">
                    <a href="{% url 'edit_profile' request.user.slug %}">Green<span class="text-primary-800">Profile</span></a>
                </div>
                <div class="border-b-2 pb-3 mb-3">
                    <a href="{% url 'receipt_list' %}">Orders</a>
                </div>
                <div class="text-red-500 text-center">
                    <a href="{% url 'account_logout' %}" class="hover:underline">Logout</a>
                </div>
            </nav>
            {% if request.user.is_authenticated %}
                <div onclick="profile()">
                {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" alt=""  class="hover:cursor-pointer object-cover w-12 h-12 rounded-full bg-primary-700">
                {% else %}
                <div class=" hover:cursor-pointer uppercase bg-primary-500 hover:bg-primary-400 w-12 h-12 flex items-center justify-center text-3xl rounded-full">
                    {{ user.email|slice:"1" }}
                </div>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Sign In</a>
    </div>
    {% endif %}
</header>
<section class="pb-8 w-full min-h-full">
    {% block section %}{% endblock section %}
</section>

<script>
    function profile() {
        document.getElementById('profile').classList.toggle('hidden');
      }

    function menuToggle() {
        let menubtn = document.getElementById('menu');
        let sidebar = document.getElementById('sidebar');
        let navbar = document.getElementById('navbar');
        if (sidebar != null){
            sidebar.classList.toggle('max-md:hidden');
            sidebar.classList.add('shadow-2xl');
        }
        if (navbar != null){
            navbar.classList.toggle('hidden');
        }
    }
</script>
{% endblock content %}

