{% extends "_base.html" %}

{% load static %}

{% block content %}
<header class="flex bg-white items-center justify-between py-3 font-bold border-b-2 border-solid px-4 fixed z-10 w-full">
    <div>
        {% if request.user.is_authenticated %}
            {% if request.user.is_farmer %}
            {% url 'farmer_dashboard' as home %}
            {% elif request.user.is_consumer %}
            {% url 'consumer_dashboard' as home %}
            {% endif %}
        {% endif %}
        <a href="{{ home }}" class="flex items-center text-2xl font-bold ">
            <img src="{% static 'src/images/logo.png' %}" alt="greendigit" class="w-12 h-12">
            Green<span class="text-primary-900">Digit</span>
        </a>
    </div>
    <div class="flex items-center gap-x-3">
        <div>
            <span class="material-symbols-outlined text-2xl hover:bg-gray-300 p-2 rounded-md">
                notifications
                </span>
        </div>
        <div>
            {% if request.user.is_authenticated %}
                {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" alt=""  class="object-cover w-12 h-12 rounded-full bg-primary-700">
                {% else %}
                <div class="uppercase bg-primary-500 w-12 h-12 flex items-center justify-center text-3xl rounded-full">
                    {{ user.email|slice:"1" }}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</header>
<section class="w-full h-full pb-8" style="background: rgb(3,140,87); background: linear-gradient(15deg, rgba(3,140,87,0.3) 0%, rgba(241,241,241,1) 60%);">
    {% block section %}{% endblock section %}
</section>
{% endblock content %}

