{% extends 'users/farmers/farmer_pannel_base.html' %}
{% load static %}
{% load products %}

{% block pannel_section %}

<div class="mb-5 flex justify-between items-center">
    <div class="flex items-center gap-2 bg-white rounded-md py-1 px-2">
        <div><input type="search" name="search" id="search" class="bg-white  max-w-72 input input-bordered"></div>
        <button type="submit">
            <span class="material-symbols-outlined text-white bg-primary-700 font-bold p-2 rounded-md hover:bg-primary-990 transition-colors ease-linear">
                search
            </span>
        </button>
    </div>
    <a href="{% url 'add_product' %}" class="btn btn-primary">
        <span class="material-symbols-outlined">add_box</span>
        <span>Add products</span>
    </a>
</div>
{% if messages %}
{% for message in messages %}
<div id="message" class="bg-primary-600 py-3 px-5 mb-4 text-gray-800 font-medium rounded-md flex items-center justify-between">
  <p class="text-white">{{ message }}</p>
  <a href="" onclick="closeMessagePopUp()">
    <span class="material-symbols-outlined text-red-700 text-3xl font-bold">
      cancel
    </span>
  </a>
</div>
{% endfor %}
{% endif %}
  <div class="gap-5 grid md:grid-cols-2 lg:grid-cols-4 h-full">
    {% for product in products %}
      <div class="">
        {% #product_card product=product%}
        {% /product_card %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
