{% extends "header.html" %}

{% block navbar %}
<div id="navbar" class="absolute top-[4.5rem] left-0 min-w-56 bg-white shadow-lg p-4 hidden">
    <ul class="divide-y-2">
        <li><a href="" class="flex items-center gap-3 p-3 w-full hover:bg-gray-300 rounded-sm transition-colors ease-linear">
            <span class="material-symbols-outlined">
                store
            </span>
            Store
        </a></li>
        <li><a href="" class="flex items-center gap-3 p-3 w-full hover:bg-gray-300 rounded-sm transition-colors ease-linear">
            <span class="material-symbols-outlined">
                enterprise
            </span>
            Farmers
        </a></li>
        <li><a href="" class="flex items-center gap-3 p-3 w-full hover:bg-gray-300 rounded-sm transition-colors ease-linear">
            <span class="material-symbols-outlined">
                compare
            </span>
            Compare
        </a></li>
        <li><a href="" class="flex items-center gap-3 p-3 w-full hover:bg-gray-300 rounded-sm transition-colors ease-linear">
            <span class="material-symbols-outlined">
                contact_support
            </span>
           Contact
        </a></li>
    </ul>
</div>
{% endblock navbar %}
{% block section %}
<div class="h-full w-full"></div>
<div>bonjour</div>
<div>bonjour</div>
<div>bonjour</div>
<div>bonjour</div>
<div>bonjour</div>
<div>bonjour</div>
<div>bonjour</div>
<div>bonjour</div>
{% endblock section %}