{% load compress %}
{% load static %}
{% load users %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'src/images/favicon.png' %}" type="image/x-icon">
    <title>{% block title %}Greendigit{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
    {% compress css %}
    <link rel="stylesheet"
        href="{% static 'src/css/invoice.css' %}">
    {% endcompress %}
 
</head>
 
<body>
<section id="invoice">
  <header>
    <div>
      <h1>
        <p>Receipt N° <span class="receipt_id">{{ receipt.receipt_id }}</span></p>
        <button onclick="exportToPDF()" class="download">
            <span class="material-symbols-outlined">
                download
            </span>
        </button>
      </h1>
    </div>
    {% if user.is_farmer == False %}
    <div>
      Delivery Code : <span><strong><small>{{ delivery_code }}</small></strong></span>
    </div>
    {% endif %}
    <div>
      <a href="{% url 'index' %}" class="logo">
        <img
          src="{% static 'src/images/logo.png' %}"
          alt="greendigit"
        />
        Green<span>Digit</span>
      </a>
    </div>
  </header>
  <div>
    {% if messages %}
      {% for message in messages %}
        <div id="message" class="message
          {% if message.tags == 'success' %}success{% endif %}
          {% if message.tags == 'error' %}error{% endif %}
        ">
          <p style="color:white;">{{ message }}</p>
          <a href="" onclick="closeMessagePopUp()"><span class="material-symbols-outlined cancel">cancel</span></a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="contain">
    <div class="billing">
      <h2 class="title">Billing Information</h2>
      <div>
        <div class="user_info">
          <div>
            <p>First Name</p>
            <div
              class="info"
            >
              {{ user.first_name }}
            </div>
          </div>
          <div>
            <p>Last Name</p>
            <div
              class="info"
            >
              {{ user.last_name }}
            </div>
          </div>
        </div>
        <div
          class="user_info"
        >
          <div>
            <p>Email</p>
            <div
              class="info"
            >
              {{ user.email }}
            </div>
          </div>
          <div>
            <p>Phone Number</p>
            <div
              class="info"
            >
              {{ user.phone }}
            </div>
          </div>
        </div>
        <div
          class="user_info"
        >
          <div>
            <p>Country</p>
            <div
              class="info"
            >
              {{ user.country }}
            </div>
          </div>
          <div class="">
            <p>State</p>
            <div
              class="info"
            >
              {{ user.state }}
            </div>
          </div>
        </div>
        <div
          class="user_info"
        >
          <div>
            <p>City</p>
            <div
              class="info"
            >
              {{ user.city }}
            </div>
          </div>
          <div>
            <p>ZIP Code</p>
            <div
              class="info"
            >
              {{ user.address }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <h2 class="pay-title">Payment Summary</h2>
      <div>
        <div class="product">
          <div class="product-info">
            <div>
              <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
                class="product-img"
              />
            </div>
            <div class="capitalize">
              <h4 class="font-bold">{{ product.name }}</h4>
              <p class="category">
                {{ product.sub_category.category }}
              </p>
            </div>
          </div>
          <div class="font-bold">
            XAF/KG
            <span id="product_price" data-price="{{ product.price }}"
              >{{ product.price|floatformat:0 }}</span
            >
          </div>
        </div>
        <div class="quantity">
            <p>Quantity (KG):</p>
            <p class="font-bold text-lg">{{ transaction.product_quantity}}</p>
        </div>
        <div class="total">
          <p>Total:</p>
          <p class="total-price">
            XAF <span id="total_price">{{ transaction.amount|floatformat:0 }}</span>
          </p>
        </div>
        <div class="method">
          <p>Payment method:</p>
          <p class="font-bold text-lg">{{ transaction.payment_method}}</p>
        </div>
        <div class="number">
          <p>Payment Number:</p>
          <p class="font-bold text-lg">{{ transaction.payment_number}}</p>
        </div>
        <div class="method">
          <p>Status:</p>
          <p class="status">
            {{ transaction.status}}
            <span class="material-symbols-outlined"> check_box </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="farmer-contain">
    <h2 class="pay-title">Farmer Information</h2>
    <div>
        <div class="farmer_info">
            <div>
              <p>First Name</p>
              <div class="info" >
                {{ product.farmer.first_name }}
              </div>
            </div>
            <div>
              <p>Last Name</p>
              <div
                class="info"
              >
                {{ product.farmer.last_name }}
              </div>
            </div>
            <div>
                <p>Email</p>
                <div
                  class="info"
                >
                  {{ product.farmer.email }}
                </div>
            </div>
            <div>
                <p>Country</p>
                <div
                  class="info"
                >
                  {{ product.farmer.country }}
                </div>
            </div>
          </div>
    </div>
  </div>
  <footer>
    <p>
        If you have any questions concerning this invoice contact <span>Greendigit | +237 656 484 013 | contact@greendigit.com</span>
    </p>
  </footer>
</section>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"
	integrity="sha512-MpDFIChbcXl2QgipQrt1VcPHMldRILetapBl5MPCA9Y8r7qvlwx1/Mc9hNTzY+kS5kX6PdoDq41ws1HiVNLdZA=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script>
  function exportToPDF(){
    const opt = {
      margin: 0,
      filename: 'invoice.pdf',
      image: { type: 'jpeg', quality: 1 },
      html2canvas: { scale: 4 },
      jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' },
    };

    const response = html2pdf().from(document.getElementById('invoice')).set(opt).save();
    console.log(response);
  }
</script>
</body>
 
</html>
