{% extends "green_section.html" %}

{% block green_section %}
    <section class="bg-white shadow-md rounded-md md:mx-32 lg:mt-2">
        <div>
            {% if messages %}
              {% for message in messages %}
                <div id="message" class="py-3 px-5 mb-4 text-gray-800 font-medium rounded-md flex items-center justify-between
                    {% if message.tags == 'success' %}bg-primary-600{% endif %}
                    {% if message.tags == 'error' %}bg-red-500{% endif %}
                ">
                  <p class="text-white">{{ message }}</p>
                  <a href="" onclick="closeMessagePopUp()"><span class="material-symbols-outlined text-red-700 text-3xl font-bold">cancel</span></a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        <div class="md:flex md:h-3/4">
            <div class="md:flex-1">
                <img src="{{ product.image.url }}" alt="product.name" class="w-full h-80 md:h-full object-cover">
            </div>
            <div class="p-8 md:flex-1">
                <div>
                    <div class="flex items-center md:justify-between gap-4 pb-4">
                        <h1 class="font-bold capitalize text-4xl">{{ product.name }}</h1>
                        {% if product.quantity > 0 %}
                        <p class="p-2 bg-primary-300 font-semibold text-primary-800 rounded-sm">In stock</p>
                        {% else %}
                        <p class="p-2 bg-red-300 font-semibold text-red-700 rounded-sm">Out of stock</p>
                        {% endif %}
                    </div>
                    <div>
                        <div class="">
                            <a href="{% url 'detail_product' product.slug %}" class="flex items-center">
                                <span class="material-symbols-outlined">
                                    grade
                                </span>
                                <span class="material-symbols-outlined">
                                    grade
                                </span>
                                <span class="material-symbols-outlined">
                                    grade
                                </span>
                                <span class="material-symbols-outlined">
                                    grade
                                </span>
                                <span class="material-symbols-outlined">
                                    grade
                                </span>
                                <span class="font-semibold ml-1 text-primary-800">(31)</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="py-4 font-bold text-2xl border-b-2 border-primary-200">
                    <span class="text-primary-800">XAF {{ product.price }}</span>
                </div>
                <div class="py-4 border-b-2 border-primary-200">
                    <h2 class="capitalize font-semibold text-xl pb-4">product description</h2>
                    <p class="text-justify text-gray-600">{{ product.description }}</p>
                </div>
                <div class="py-4 flex items-center justify-between gap-5 border-b-2 border-primary-200">
                    <form action="{% url 'add_to_comparison' product.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            <span class="material-symbols-outlined bg-primary-200 text-primary-800 p-3 rounded-full">
                                compare
                            </span>
                        </button>
                    </form>
                    <a href="{% url 'checkout_payment' product.slug %}" class="flex items-center btn btn-primary flex-1">
                        Order
                        <span class="material-symbols-outlined">
                            shopping_bag
                        </span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined bg-primary-200 text-primary-800 p-3 rounded-full">
                            favorite
                        </span>
                    </a>
                </div>
                <div class="py-4 border-b-2 border-primary-200">
                    <h2 class="capitalize font-semibold text-xl pb-4">farmer</h2>
                    <a href="{% url 'farmer_detail' product.farmer.slug %}" class="flex gap-4 items-center hover:shadow-md transition-shadow ease-linear">
                        {% if product.farmer.avatar %}
                        <img src="{{ product.farmer.avatar.url }}" alt="{{ product.farmer.email }}" class="w-20 h-20 bg-primary-700 rounded-full object-cover">
                        {% else %}
                        <div class=" hover:cursor-pointer uppercase bg-primary-500 hover:bg-primary-400 w-20 h-20 flex items-center justify-center text-3xl rounded-full font-bold">
                            {{ product.farmer.email|slice:"1" }}
                        </div>
                        {% endif %}
                        <p class="flex flex-col">
                            <span class="text-2xl font-semibold capitalize text-primary-800">{{ product.farmer.fullname }}</span>
                            <span class="text-sm text-gray-500 italic">{{ product.farmer.description|slice:"50" }}</span>
                        </p>
                    </a>
                </div>
                <div class="pt-4">
                    <p class="font-semibold">
                        <span class="">Category: </span><a href="#" class="text-gray-500 capitalize hover:text-primary-800">{{ product.sub_category }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock green_section %}